@import url("caiuss.min.css");
@import url("octicons/octicons.css");

.modal p { color: black; }
body { background-image: url("./bg.png"); }
h1 { margin: 0; }

#myCanvas {
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.17);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.19);
    border-radius: 4px;
}

header, footer {
    background-image: url("./bg2.png");
}
