body {
    background: url("img/bg.png");
}

p, a {
    color: white;
}

.modal p {
    color: black;
}

.logo {
    font-family: "Kaushan Script", cursive;
    color: white;
    text-shadow: 0 0 15px black;
    margin: 15px;
}

.container {
    background: rgba(86, 113, 255, 0.5);
    box-shadow: 0 0 10px black;
}

#console {
    background: lightblue;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

#yValue, #xValue {
    width: 30px;
    margin-top: 5px;
}

#randomColorLine {
    margin-top: 5px;
}

#colorPicker {
    width: 30px;
    height: 30px;
    border: 1px solid #aaa;
    background: blue;
}

#myCanvas {
    background: white;
    border: 3px solid rgb(21, 90, 194);
    box-shadow: 0 0 7px rgb(0, 0, 68);
}

.hidden {
    display: none;
}


.btn-group button {
    height: 40px;
}

.btn-group .btn {
    margin: 0 -2px;
    float: none;
}

.btn-group {
    width: 450px;
    margin: 10px 0;
}
